@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
body {
    font-family: "Inconsolata", monospace;
    color:whitesmoke;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: rgb(14, 14, 14);
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    display: flex;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
}

/*home page*/
.home-intro{
    display: flex; 
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 95%;
}
/*ratio 0.35*/
.home-left{
    width: 200px; 
    height: 200px; 
    border-radius:70px;
    overflow: hidden;
}
.home-right{
    max-width: 50%;
}
.home-image{
    width:100%;
    height:100%; 
    object-fit: cover;
}
.home-title{
    font-size: 29px;
}
.home-subtitle{
    font-size: 20px;
}
.home-more{
    background-color: rgb(50, 50, 50);
    padding: 9px;
    border-radius: 9px;
    border: 0;
}
.home-more a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
}
.home-more:hover{
    background-color: rgb(69, 69, 69);
}
.home-icon{
    width: 20px;
    height: 20px;
}

/* text */
.web-title{
    font-size: 26px;
    font-weight: 600;
}
.web-subtitle{
    font-size: 19px;
    font-weight: 600;

}

/* navbar  */
.desk-nav{
    padding:20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
    margin: 0;
}
.desk-nav a{
    color: whitesmoke;
    font-size: larger;
    text-decoration: none;
}
.desk-nav a:hover{
    transform: scale(1.2);
}

.mobile-nav{
    display: none;
}
.desk-nav-left{
    font-style: italic;
}
.desk-nav-right{
    display: flex;
    align-items: center;
    gap: 23px;
}

/* nav current link style */
.current-link{
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
}


/* footer */
footer{
    margin-top: 5vh;
    width: 100%;
}
.footer-container{
    display: flex;
    align-items: center; 
    color: #a1a1aa;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(32, 32, 32);
    font-size: 18px;
}
.footer-left{
    display: flex; 
    align-items: center;
    gap: 6px; 
    justify-content: center;
}
.footer-right{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding:30px 0px;
    gap: 13px;
}
.footer-container p{
    margin: 0;
}
.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.footer-email{
    display: flex;
    align-items: center;
    gap: 6px;
}


/*  portfolio */
.portfolio-grid{
    display:grid; 
    grid-template-columns: repeat(3, 1fr); 
    width: 95%;
    gap: 9px; 
    padding: 30px 20px;
}
.card-link{
    display:flex; 
    flex-direction: column;
    align-items: center;
    text-decoration: none; 
    color: whitesmoke;
    padding: 20px;
}
.card-title{
    margin: 0;
    font-size: 17px;
    max-width: 250px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.card-title:hover{
    color: gray;
}
.card-image{
    background-color: whitesmoke;
    height: 180px;
    width: 180px;
    border-radius: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card-image{
    width: 200px;
    object-fit:cover;
}
.card-logo{
    display: flex;
    align-items: center;
    gap: 9px;
}

/* roamer page */
.roamer{
    width: 95%;
    padding:30px 10px;
}
.roamer-image-container{
    width: 150px;
    height: 150px;
    border-radius: 53px;
    overflow: hidden;
}
.roamer-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* project - items */
.project-grid{
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding:30px 20px;
    width: 95%;
}

.features-list{
    list-style-type: square;
    list-style-position: outside;
}

.features-list li{
    padding-bottom: 13px;
}

.des-container{
    width: 80%;
}
.des-head{
    display: inline-flex; 
    flex-direction: column; 
    gap: 16px;
}
.feature-title{
    font-weight: 600;
}

.gallery-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery-item{
    display: flex; 
    align-items: center;
    justify-content: center;
    position: relative;
}


.caption {
    color: #71717a;
    font-size: 16px;
    text-align: center;
  }

.gallery-slides{
   display: none;
   overflow: hidden;
   width: 80%;
   border-radius: 3px;
}


.project-item-image{
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.project-item-link{
    display: flex; 
    align-items: center; 
    gap: 10px; 
    text-decoration: none;
    color:inherit;
    border-bottom: 1px solid whitesmoke;
}


.project-item-link:hover{
  color: #71717a;
  border-bottom:1px solid #71717a;
 }
  

.prev-container, .next-container{
    display:flex; 
    align-items: center; 
    justify-content: center; 
    padding: 13px;
    border-radius: 10px;
}

.gallery-prev, .gallery-next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    transition: 0.6s ease;
    user-select: none;
  }

.gallery-prev{
  left: 0;
}

.gallery-next {
  right: 0;
}


.prev-container:hover, .next-container:hover {
    background-color: rgb(32, 32, 32);
}

.gallery-dots {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: rgb(32, 32, 32);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .gallery-dots:hover {
  background-color:whitesmoke;
}




/* small screen */

@media screen and (max-width: 800px) {
    /* homepage */
    .home-left{
        width: 150px;
        height: 150px;
        border-radius: 53px;
    }
    .home-title{
        font-size: 20px;
    }
    .home-subtitle{
        font-size: 15px;
    }
    .home-more a{
        font-size: 13px;
    }

    /* portfolio page */
    .portfolio-grid{
        grid-template-columns: repeat(2, 1fr); 
    }
    .card-image{
        height: 150px;
        width: 150px;
        border-radius: 53px;
    }
    .card-title{
        font-size: 15px;
        max-width: 170px;
    }

    .project-grid{
        display: flex; 
        flex-direction: column-reverse;
        height: auto;
        margin-top: 20px;
        
    }
    .des-container{
        width: 90vw;
    }
    .gallery-container{
        width: 90vw;
    }
    .desk-nav{
        display: none;
    }
    .mobile-nav{
        display: block;
        border-bottom: 2px solid;
    }
    .mobile-nav-contents a{
        text-decoration: none;
        color:whitesmoke;
    }
    .openNav{
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        padding:20px;

    }
    .mobile-nav-left{
        width:30%; 
        height: 100vh; 
        position: absolute; 
        top: 0; 
        left: 0; 
        z-index: 1; 
        opacity: 0.3; 
    }
    .mobile-nav-right{
        position: absolute;
        top:0; 
        right: 0;
        background-color:black; 
        height: 100vh; 
        z-index: 1; 
        width: 70%;
    }
    .openNavButton{
        background-color: inherit; 
        cursor: pointer;
    }
    .closeNavButton{
        background-color:inherit; 
        cursor: pointer;
        text-align: end;
        padding: 20px;
    }
    .navIcon{
        display: flex; 
        align-items: center; 
        gap: 9px;
        font-weight: 500;
    }
    .web-title{
        font-size: 20px;
        font-weight: 600;
    }
    .web-subtitle{
        font-size: 17px;
        font-weight: 600;
    
    }
    p{
        font-size: 15px;
    }
    .project-item-link{
        font-size: 15px;
    }
    .footer-container{
        flex-direction: column-reverse;
        padding: 20px 0;
    }

} 

@keyframes slideIn {
    from {width: 0;}
    to {width: 70%;}
    
}
/* @keyframes slideOut {
    from {width: 70%;}
    to {width: 0;}
    
} */

@keyframes opacity {
    from {background-color: inherit;}
    to {background-color: black;}
    
}

