@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
body {
    font-family: "Inconsolata", monospace;
    color:#27272a;
    position: relative;
    min-height: 100vh;
    margin: 0;
}

/* text */
.headerTitle{
    font-size: 26px;
    font-weight: 600;
}
.subHeaderTitle{
    font-size: 19px;
    font-weight: 600;

}
.h3Title{
    font-size: 17px;
    font-weight: 600;
}

/* navbar  */
#navbar{
    background-color: #f9f9f9;
}

.webNav{
    list-style-type: none;
    margin: 20px 20px 0 20px;
    padding:30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
}

.webNavRight{
    display: flex;
    align-items: center;
    gap: 16px;
}


li a{
    text-align: center;
    text-decoration: none;
    color:inherit;
    font-size: large;
    font-weight:500;
}

li a:hover{
   color:  #8b8b8b;
}

.smNav{
    display: none;
}
.navTitle{
   font-style: italic;
   font-size: larger;
}


/* nav current link style */

.currentLink{
    border-bottom: solid #71717a;
}


.about, .contact{
    display:flex; 
    height:70vh;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.aboutImage, .contactImage,.homeImage{
    width: 300px; 
    height: 300px;
}

.roamer{
    padding: 20px 50px;
}



/* project */

.project{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 13px;
    padding: 30px;
}
.projectCard{
    text-decoration: none; 
    color:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f5;
    border-radius: 5px;
}
.projectCardContainer{
    display: flex; 
    flex-direction: column;
    width: 40vh;
    height: 40vh;
    justify-content: center; 
    align-items: center;
    position: relative;
}
.projectCardTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.projectCardLogo{
    display: flex;
    gap: 9px;
}

.projectImage{
    width: 70%;
    height: 70%;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

/* project - items */

.projectItemContainer{
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 0px 20px;
}

.galleryContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery{
    display: flex; 
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 60vh;
}


.caption {
    color: #71717a;
    font-size: 12px;
    text-align: center;
  }

.mySlides{
   display: none;
   overflow: hidden;
   width: 80%;
}


.projectItemImage{
    width: 100%;
}

.projectItemLink{
    display: flex; 
    align-items: center; 
    gap: 10px; 
    text-decoration: none;
    color:inherit;
    border-bottom: 1px solid white;
}


.projectItemLink:hover{
  color: #71717a;
  border-bottom:1px solid #71717a;
 }
  

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    transition: 0.6s ease;
    user-select: none;
  }

.prev{
  left: 0;
}

.next {
  right: 0;
}

.prevContainer, .nextContainer{
    display:flex; 
    align-items: center; 
    justify-content: center; 
    padding: 13px;
    border-radius: 10px;
}



.prevContainer:hover, .nextContainer:hover {
    background-color:  #f4f4f5; 
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #e4e4e7;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #52525b;
}




@media (max-width: 900px) {
    .aboutImage, .contactImage{
        width: 130px;
        height: 130px;
    }
    .homeImage{
        width: 230px; 
        height: 230px; 
    }
    .roamer{
        padding: 20px;
    }
    
    .project{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .projectItemContainer{
        display: flex; 
        flex-direction: column-reverse;
        height: auto;
        
    }
    .galleryContent{
        position: relative;
        width: 99%;
        overflow: hidden;
    }
    .webNav{
        display: none;
    }
    .smNav{
        display: block;
    }
    .smNavContents a{
        text-decoration: none;
        color:inherit;
    }
    .openNav{
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        padding:20px;

    }
    .smNavLeft{
        width:30%; 
        height: 100vh; 
        position: absolute; 
        top: 0; 
        left: 0; 
        z-index: 1; 
        opacity: 0.3; 
    }
    .smNavRight{
        position: absolute;
        top:0; 
        right: 0;
        background-color:white; 
        height: 100vh; 
        z-index: 1; 
        width: 70%;
    }
    .openNavButton{
        background-color: inherit; 
        cursor: pointer;
    }
    .closeNavButton{
        background-color:inherit; 
        cursor: pointer;
        text-align: end;
        padding: 20px;
    }
    .navIcon{
        display: flex; 
        align-items: center; 
        gap: 9px;
        font-weight: 500;
    }
    .headerTitle{
        font-size: 20px;
        font-weight: 600;
    }
    .subHeaderTitle{
        font-size: 17px;
        font-weight: 600;
    
    }
    .h3Title{
        font-size: 15px;
        font-weight: 600;
    }
    p{
        font-size: 15px;
    }
    .projectItemLink{
        font-size: 15px;
    }

}

@keyframes slideIn {
    from {width: 0;}
    to {width: 70%;}
    
}
@keyframes slideOut {
    from {width: 70%;}
    to {width: 0;}
    
}

@keyframes opacity {
    from {background-color: inherit;}
    to {background-color: black;}
    
}

