body {
    font-family: monospace;
    flex: 1;
}

ul{
    list-style-type: none;
    margin:0;
    padding:16px;
    overflow: hidden;
    background-color:#EEEDE7;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
li a{
    text-align: center;
    padding: 13px;
    text-decoration: none;
    color:#444444;
    font-size: large;
    font-weight:600;
}
.content{
    padding:60px
}
.about{
    display:flex; 
    align-items: center; 
    height:50vh; 
    justify-content: center;
    gap: 30px;
}
.aboutImage{
    width: 300px; 
    height: 300px;
}

@media (max-width: 600px) { 
    ul{
        display: flex;
        justify-content:flex-start;
    }
    .aboutImage{
        width: 160px;
        height: 160px;
    }
    
}