<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e3aea98539.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div style="position:absolute; bottom:-20vh; width: 100%; display: flex;align-items: center; gap: 10px;justify-content: center; align-items: center; color: dimgray;">
        <i class="fa-regular fa-copyright"></i>
        <p style="font-size:smaller;">2024 Ying Cui</p>
    </div>
  </body>
</html>