<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e3aea98539.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <ul class="webNav">
      <li><a href="/" style="font-style: italic;">02</a></li>
        <div style="display: flex; justify-content: flex-end; align-items: center;">
          <li><a href="/apps/roamer/">Apps</a></li>
          <li><a href="/projects/">Projects</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact</a></li>
        </div>
    </ul>
    <div class="smNav">
      <div style="display: flex; justify-content: space-between; align-items: center; padding: 6px;">
        <a href="/" style="text-decoration: none; color:#292524; font-style: italic; font-size: large;">02</a>
        <button class="openNavButton" onclick="openMenu()">
          <i class="fa-solid fa-bars fa-xl"></i>
        </button>
      </div>
      <div class="smNavContents" id="contents">
        <button class="closeNavButton" onclick="closeMenu()">
          <i class="fa-solid fa-xmark fa-2xl"></i>
        </button>
        <div id="mainSmNav">
          <a href="/">
            <div  class="navIcon">
              <i class="fa-solid fa-house"></i>          
              <p>Home</p>
            </div>
          </a>
          <div style="padding-left: 16px;">
            <div class="navIcon">
              <i class="fa-solid fa-folder-open"></i>
              <p>Apps</p>            
            </div>
            <div style="padding-left: 6px;">
              <a href="/apps/roamer/">
                <div class="navIcon">
                  <i class="fa-solid fa-code"></i>            
                  <P>Roamer - Plan & Pack</P>
                </div>
                </a>
            </div>
          </div>
          <div style="padding-left: 16px;">
            <div class="navIcon">
              <i class="fa-solid fa-folder-open"></i>
              <p>Projects</p>            
            </div>
            <div style="padding-left: 6px;">
              <a href="/projects/footwear/">
                <div class="navIcon">
                  <i class="fa-solid fa-code"></i>          
                  <p>Footwear E-commerce Platform</p>
                </div>
              </a>
              <a href="/projects/restaurant/">
              <div class="navIcon">
                <i class="fa-solid fa-code"></i>            
                <P>Restaurant Reservation and Menu Platform</P>
              </div>
              </a>
            </div>
          </div>
          <a href="/about/">
            <div class="navIcon">
              <i class="fa-solid fa-address-card"></i>                                   
              <p>About</p>            
            </div>
          </a>
          <a href="/contact/">
            <div class="navIcon">
              <i class="fa-solid fa-envelope"></i>
              <p>Contact</p>            
            </div>
          </a> 
        </div> 
      </div>
    </div>
  </body>
</html>
