<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e3aea98539.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <ul class="webNav">
      <li><a href="/" style="font-style: italic;">02</a></li>
        <div style="display: flex; justify-content: flex-end; align-items: center;">
          <li><a href="/apps/roamer/">Apps</a></li>
          <li><a href="/projects/">Projects</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact</a></li>
        </div>
    </ul>
    <div class="smNav">
      <div class="openNav">
        <a href="/" style="font-style: italic; font-size: 16px; text-decoration: none; color: inherit;">02</a>
        <div class="openNavButton" onclick="openNav()" id="openButton">
          <i class="fa-solid fa-bars fa-lg" style="color:inherit"></i>
        </div>
      </div>
      <div class="smNavContents" id="contents" style="display: none;">
        <div onclick="closeNav()" class="smNavLeft">
        </div>
        <div class="smNavRight">
          <div class="closeNavButton" onclick="closeNav()">
            <i class="fa-solid fa-xmark fa-lg"  style="color:inherit"></i>
          </div>
          <div id="mainSmNav" style="display: flex; flex-direction: column; gap: 10px;">
            <a href="/">
              <div class="navIcon">
                <i class="fa-solid fa-house" style="color:inherit"></i>          
                <p>Home</p>
              </div>
            </a>
            <div style="padding:0px 20px;">
              <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer;"   onclick="toggleApps()">
                <div class="navIcon">
                  <i class="fa-solid fa-folder-open"  style="color:inherit"></i>
                  <p>Apps</p>            
                </div>
                <i class="fa-solid fa-chevron-right"  style="color:inherit"></i>

              </div>
              <div style="padding-left: 6px; display: none;" id="apps">
                <a href="/apps/roamer/">
                  <div class="navIcon">
                    <i class="fa-solid fa-code"  style="color:inherit"></i>            
                    <P>Roamer - Plan & Pack</P>
                  </div>
                  </a>
              </div>
            </div>
            <div style="padding:0px 20px;">
              <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer;"  onclick="toggleProjects()">
                <div class="navIcon">
                  <i class="fa-solid fa-folder-open"  style="color:inherit"></i>
                  <p>Projects</p>            
                </div>
                <i class="fa-solid fa-chevron-right"  style="color:inherit"></i>
              </div>
              <div style="padding-left: 6px; display: none;" id="projects">
                <a href="/projects/footwear/">
                  <div class="navIcon">
                    <i class="fa-solid fa-code"  style="color:inherit"></i>          
                    <p>Footwear E-commerce Platform</p>
                  </div>
                </a>
                <a href="/projects/restaurant/">
                <div class="navIcon">
                  <i class="fa-solid fa-code"  style="color:inherit"></i>            
                  <P>Restaurant Reservation and Menu Platform</P>
                </div>
                </a>
              </div>
            </div>
            <a href="/about/">
              <div class="navIcon">
                <i class="fa-solid fa-address-card"  style="color:inherit"></i>                                   
                <p>About</p>            
              </div>
            </a>
            <a href="/contact/">
              <div class="navIcon">
                <i class="fa-solid fa-envelope"  style="color:inherit"></i>
                <p>Contact</p>            
              </div>
            </a> 
        </div>
        </div> 
      </div>
    </div>
  </body>
</html>
